<h2>Log into your account</h2>
<form action="/user/" method="post" class="forms">
    <label for="name">Login</label>
    <input type="text" id="name" name="login" required placeholder="Login..."><br>
    <label for="pwd">Password</label>
    <input type="password" id="pwd" name="pwd" required placeholder="Password..."><br>
    <input type="submit">
</form>
