<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Arena Fighter!</title>
    <link rel="icon" type="image/x-icon" href="../../../images/favicon.ico">
    <link rel="stylesheet" href="../../../styles/style.css">
</head>
<body>
<header>
    <a class="button" href="/">Arena</a>
    <a class="button" href="/warrior">Warrior page</a>
    <a class="button" href="/user">Login & Create new warrior</a>
    <a class="button" href="/hall">Hall of fame</a>
</header>

<hr>
<div class="main-text">
    <h1>Welcome in the Great Arena Fighter!</h1>
    <h2>Create your warrior and test your skills</h2>
</div>
<hr>
<section class="whole-page">
    {{{body}}}
</section>
</body>
</html>