<h3>Here you will see summary of last fight</h3>

<ul class="battle-log">
    {{#each log}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<p>Would you like to return to arena and start new fight?</p>
<a class="button" href="/">Go back to arena</a>